<h2><%= @event.name %></h2>

<% if @event.check_status %>



<div class="container">
  <h3>Enter your phone number</h3>


  <form class="form" action='/events/call' method='post'>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <input class ="form-control" type='phone' name='phone'>
      <input type='hidden' name='url' value='<%=@event.url%>'>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">Call Me!</button>
    </div>
  </form>
  <br/>

   <h5>We'll give you call, and ask you to leave a message</h5>
</div>


<%else%>
  <h3> Sorry, you're too late!</h3>
<% end %>




