  <h2>New Event Details</h2>

<form method='post' action='/events'>
  <div>
    Event Name:<input type='text' name='name' placeholder="Aniversary, B-Day, Wedding....">
  </div>
    <div>
    Event Details:<input type='text' name='details' placeholder="where? why?">
  </div>

  <div>
    Event Date:<input type='date' name='date' value='<%=Time.now.strftime("%Y-%m-%e")%>'>
  </div>
    <br>

  <div>
    Message Settings<br>
    Max. Length: <input type="radio" name="message_length" value="10" checked='checked'>10 sec. <input type="radio" name="message_length" value="15">15 sec. <br>
    Limit Messages to:<br>
    <input type="radio" name="limit_messages" value="1">1<br>
    <input type="radio" name="limit_messages" value="10" checked='checked'>10<br>
    <input type="radio" name="limit_messages" value="50">50<br>
    <input type="radio" name="limit_messages" value="0">unlimited<br>

  </div>

<br>

  <div>
    <input type='submit' value='Create Event'>
  </div>
</form>