<h1><%= @rec_url %></h1>

<!--{"AccountSid"=>"AC78ebd26aa18b190fd9b819b546b49654",
 "ToZip"=>"V6J 1M7",
 "FromState"=>"British Columbia",
 "Called"=>"+16048805822",
 "FromCountry"=>"CA",
 "CallerCountry"=>"CA",
 "CalledZip"=>"V6J 1M7",
 "Direction"=>"outbound-api",
 "FromCity"=>"",
 "CalledCountry"=>"CA",
 "CallerState"=>"British Columbia",
 "CallSid"=>"CA4d6ed85a7ea64dfc36075b2f766fdab7",
 "CalledState"=>"BC",
 "From"=>"+17786547065",
 "CallerZip"=>"",
 "FromZip"=>"",
 "CallStatus"=>"completed",
 "ToCity"=>"VANCOUVER",
 "ToState"=>"BC",
 "RecordingUrl"=>
  "http://api.twilio.com/2010-04-01/Accounts/AC78ebd26aa18b190fd9b819b546b49654/Recordings/REe3abe76a7309485ce3eb80851665a323",
 "To"=>"+16048805822",
 "Digits"=>"hangup",
 "ToCountry"=>"CA",
 "RecordingDuration"=>"8",
 "CallerCity"=>"",
 "ApiVersion"=>"2010-04-01",
 "Caller"=>"+17786547065",
 "CalledCity"=>"VANCOUVER",
 "RecordingSid"=>"REe3abe76a7309485ce3eb80851665a323"} -->