<div class ="jumbotron">
  <div class="container">
    <h1>Welcome to @ the Beep</h1>


    <h3>Please <a href='/users/new'>sign up</a> or <a href='/login'>log in</a></h3>

  </div>
</div>
<div class="container">
  <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <span class="glyphicon glyphicon-calendar" style="font-size:100px"></span>
        <h2>Create a New Event</h2>
        <p>Just enter a few details about your event</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <span class="glyphicon glyphicon-share" style="font-size:100px"></span>
        <h2>Share the Link</h2>
        <p>We'll give you a link to post to facebook or twitter or to send out via email</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <span class="glyphicon glyphicon-cloud-download" style="font-size:100px"></span>
        <h2>Recieve Voicemails</h2>
        <p>Friends follow the link, learn more about your event and drop you a quick voicemail</p>
      </div><!-- /.col-lg-4 -->

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
       <span class="glyphicon glyphicon-headphones" style="font-size:100px"></span>
        <h2>Enjoy at your Leisure</h2>
        <p>Check your messages, sort them, download them and send out mass responses</p>
      </div><!-- /.col-lg-4 -->
      
  </div>
</div>