<div class ="jumbotron">
  <div class="container">
    <h1>Welcome to @ the Beep</h1>


    <h3>Please <a href='/users/new'>sign up</a> or <a href='/login'>log in</a></h3>

  </div>
</div>
<div class="row">
        <div class="col-lg-3">
          <span class="glyphicon glyphicon-calendar" style="font-size:100px"></span>
          <h2>Create a New Event</h2>
          <p>You enter a few details about your event</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <span class="glyphicon glyphicon-share" style="font-size:100px"></span>
          <h2>Share the Link</h2>
          <p>We'll give you a link to post to facebook or twitter or to send out via email</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <span class="glyphicon glyphicon-cloud-download" style="font-size:100px"></span>
          <h2>Recieve Messages</h2>
          <p>Your friends follow the link to learn more about your event.  If they'd like, we'll give them a quick call so they can leave you voicemail</p>
        </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
         <span class="glyphicon glyphicon-headphones" style="font-size:100px"></span>
          <h2>Enjoy your Messages</h2>
          <p>Peruse your messages, sort them by relation (family or friends) download them as a keepsake and send out mass responses</p>
        </div><!-- /.col-lg-4 -->
      </div>