<h1>Welcome to the Message App</h1>


<h3>Please <a href='/users/new'>sign up</a> or <a href='/login'>log in</a></h3>

<h4>Here's how it works</h4>
<ul>
  <li>You enter a few details about your event</li>
  <li>We'll give you a link to post to facebook or twitter (or to send out via email)</li>
  <li>Your friends click the link and get a call from us to leave you a short message</li>
  <li>You come check all your messages whenever you want!</li>
</ul>