<h2>Please Log In to see your Events</h2>

<% if @user %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li><br/>
    <% end %>
  <% end %>
<% end %>

<form method='post' action='/login'>
  <div>
    Email:<input type='email' name='email'>
  </div>

  <div>
    Password:<input type='password' name='password'>
  </div>

  <div>
    <input type='submit' value='Login'>
  </div>
</form>

<div><a href='/users/new'>Not a User Yet?</a></div>
<div><a href='/'>Home</a></div>