<% if session[:message] %>
<div class="alert alert-warning"><%= session[:message]%></div>
<% end %>
<% if @user %>
  <% if @user.errors.any? %>
  <div class="alert alert-warning"><%= session[:message]%></div>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li><br/>
    <% end %>
  <% end %>
<% end %>


<div class="container">

  <form class="form-signin" role="form" method='post' action='/login'>
    <h2 class="form-signin-heading">Please Log In to see Your Events</h2>
    <input type="email" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>  