<h2>Welcome new user!  We just need a few details to get started:</h2>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li><br/>
  <% end %>
<% end %>

<form action='/users' method='post'>
  <div>
    Firstname:<input type='text' name='firstname'>
  </div>
  <div>
    Lastname:<input type='text' name='lastname'>
  </div>
  <div>
    Email:<input type='text' name='email'>
  </div>
  <div>
    Phone Number (optional):<input type='text' name="phone">
  </div>
  <div>
    Password:<input type='password' name="password">
  </div>
  <div>
    <input type='submit' value='Register'>
  </div>
</form>