<h2>Welcome back <%= @user.firstname%>!</h2>
<!-- <p id="message"><%=session[:message]%></p>  -->

<div class="container">
  <h3><a href='../events/new'>Add New Event</a></h3>
  <hr/>

  <h4>Your Events</h4>
    <% @events.each do |event| %>
      <a href="../events/<%=event.url%>">
      <div class="col-sm-5 col-md-5 col-lg-5 event-item">
        <%= event.name %>
      </div>
      </a>
    <%end%>
</div>