<h2>Hello <%= @user.firstname%> - Welcome to the Message App</h2>
<p id="message"><%=session[:message]%></p>

<h3><a href='../events/new'>Add New Event</a></h3>
<h4>Here is a list of your events</h4>

<h5>Current Events</h5>

<ul>
  <% @events.each do |event| %>
    <li><a href="../events/<%=event.url%>"><%= event.name %></a></li>
  <%end%>
</ul>